/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20 mars 2015, 10:38:34
    Author     : Elmahdi
*/
/* -------------------- IMPORTS -------------------- */
@import "icomoon/style.css";

*{
    border:0px;
    margin:0px;
    padding:0px;

    border-collapse: collapse;
    box-sizing: border-box;

    //font-family: helvetica;
    font-family: "Segoe ui Light", sans-serif;
}
*:focus {
    outline: none;
}
body{
    background-color: #fafafa;
}
button:hover{
    background-color:red;
}
button{
    background-color:crimson;
    color:#fff;
    float: right;
    cursor: pointer;
}
input, button{
    padding: 8px;
}
a:hover{
    text-decoration: underline;
}
a{
    /*color:royalblue;
    text-decoration: none;
    padding:5px;
    display:inline-block;*/
}
header{
    background: #B35047;
    /*box-shadow: 0px 1px 10px #222;*/
    z-index: 999;
    text-align: center;
}
header img{
    width: 100px;
    margin: 10px;
    display: inline-block;
}

span#mainTitle{
    color:#fff;
    font-size: 22px;
    display:block;
    padding-bottom: 10px;
    text-align: center;
}
div#posLogin{
    border-top: 5px solid #334D6F;
    background-color: #eee;
    text-align: center;
}
div#posLogin table{
}
div#posLogin table td{
    padding:5px;
}
footer{
    background-color: #fff;
    color:#333;
    border-top: 1px solid #ccc;

    position: relative;
    left:0%;
    right:0%;
    bottom:0%;
    width: 100%;
    font-size: 12px;
    text-align: center;
    padding: 10px 0px;  
    display: inline-block;  
    /* margin-top: 200px; */
}
div#messageGET{
    background-color: #27ae60;
    color:#fff;
    font-size: 12px;
    text-align: center;
    padding: 10px;
    
    position: relative;
    left:0%;
    right:0%;
    bottom:0%;
}

section#pageAccueil{
    position: relative;
    margin: 20px 50px;
    padding: 20px 50px;
    background-color: #eee;
}
section#pageAccueil h1{
    margin-bottom: 20px;
}
section#pageAccueil p{
    /*margin: 10px 50px;*/
}
section#pageAccueil ul{
    margin: 10px 50px;
}
section#pageAccueil ul li{
    padding: 5px;
}
fieldset{

}

section#menu,
section#posC{
    position: relative;
    display: inline-block;
    vertical-align: top;
}
section#menu{
    /*box-shadow: 0px 0px 10px #444;*/
    background-color: #fafafa;
    width: 6%;
}

section#menu ul{
    list-style: none;
    width: 100%;
    text-align: center;
}
section#menu ul li:hover,section#menu ul li a:hover{
    background-color: #458;
    color:#fff;
    text-shadow: 8px 5px 5px #111;
}
section#menu ul li{
    padding:10px 20px;
    display: block;
    font-size: 30px;
    cursor:pointer;
}
section#menu ul li, section#menu ul li a{
    color: #458;
}
section#menu ul li a{
    text-decoration: none;
}
div#darkFilter{
    display: none;
    opacity: 0.4;
    z-index: 9;
    background-color: #000;
    
    position: fixed;
    top:0%;
    right: 0%;
    left: 0%;
    bottom:0%;
    top: 0%;
}

/* --------------------  section#posC -------------------- */
section#posC{
    width: 93%;
}
.plusBas{
    top: 200px;
}
section#posC fieldset.formUser{
    display: none;
    z-index: 99;
    background-color: #fff;
    box-shadow: 0px 3px 10px #222;
    position:absolute;
    top: -500px;
    left:50%;
    width:40%;
    margin-left: -20%;
}
section#posC fieldset.formUser legend{
    background-color: #334D6F;
    color:#fff;
    padding: 20px;
    float: left;
    text-align: center;
    display:inline-block;
    width:100%;
}
section#posC fieldset.formUser table{
    width: 100%;
    background: #fff;
    display: inline-block;
}
section#posC fieldset.formUser table td{
    padding:10px;
}
section#posC fieldset.formUser table td input:focus{
    background-color:#fafafa;
}
section#posC fieldset.formUser table td input{
    /*transition: 0.2s;*/
    width: 100%;
    border:1px solid #eee;
}
section#posC table#liste{
    /*display: inline-block; */
    width: 100%;
}
div#tableUser{    
    z-index: 8;
    background: #FFF;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    top: 30px;
}
section#posC table#liste caption{
    background-color: #334D6F;
    color: #fff;
    padding:10px;
    font-size: 22px;
}
section#posC table#liste tr:nth-child(2n){
    background-color: #fff;
}
section#posC table#liste tr:first-child{
    background-color: #eee;
    font-weight: bold;
    color:#111;
}
section#posC table#liste tr:last-child{
    background-color: lightyellow;
}
section#posC table#lise td{
    padding:10px 20px;
    border-bottom: 1px solid #000;
    border: 1px solid #000;
    border-collapse: 3px;
}

section#posC table#liste caption{
    position: relative;
}
section#posC table#liste caption a#refresh:hover{
    background-color: #333247;
}
section#posC table#liste caption a#refresh{
    position:absolute;
    top:0px;
    right:0px;
    bottom: 0px;
    color:#fff;
    text-decoration: none;
    padding: 12px;
}

a#generateUser:hover{
    background-color:royalblue;
}
a#generateUser{
    z-index: 5;
    background-color:dodgerblue;
    color:#fff;
    padding:10px;
    position: absolute;
    right:0px;
    left:0px;
    top:35px;
    display:inline-block;
    text-decoration: none;
    width:100%;
}

a.btPrecedent,
a.btSuivant{
    padding:5px;
    background-color:dodgerblue;
    color:#fff;
    display: inline-block;
    text-decoration: none;
}

a#btPrecedent{
    
}
a#btSuivant{
    
}
span#name,span#auteur{
   font-size: 50px;
  line-height: 150px;
  text-align: center;
}